<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title> Pokemon AI </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>	
<body>
    <div class="container-fluid">     
    <div class = "navbar">
	<div class = "tabbable">
	  <ul class = "nav nav-tabs">
			<li><a href="about.html"><img class="logo" src="../images/about.png"></a></li>
			<li><a href="play.html"><img class="logo" src="../images/play.png"></a></li>
			<li><a href="index.html"><img class="logo" src="../images/logo.png"></a></li>			
			<li class="active"><a href="war.html"><img class="logo" src="../images/war.png"></a></li>
			<li><a href="login.html"><img class="logo" src="../images/login.png"></a></li>
	  </ul>
	</div> 
    </div>
    </div>
</body>
</html>

