<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>About</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="/bootstrap/css/bootstrap.css" rel="stylesheet">
  <link href="/bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
  <link href="/css/style.css" rel="stylesheet">
  <script src="http://twitter.github.com/bootstrap/assets/js/google-code-prettify/prettify.js"></script>
  <script type="text/javascript" src="/js/jquery.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-button.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-modal.js"></script>
  <script type="text/javascript" src="/bootstrap/js/bootstrap-transition.js"></script>
  <script type="text/javascript" src="/js/client.js"></script>
</head>
<body>
  <div class="container-fluid">
        <div class = "navbar">
        <div class = "tabbable">
          <ul class = "nav nav-tabs">
            <li class="active"><a href="/about"><img class="logo" src="/img/about.png"></a></li>
            <li><a href="/play"><img class="logo" src="/img/play.png"></a></li>
            <li><a href="/"><img class="logo" src="/img/logo.png"></a></li>      
            <li><a href="/war"><img class="logo" src="/img/war.png"></a></li>
            <li><a href="/profile"><img class="logo" src="/img/profile.png"></a></li>
          </ul>
        </div> 
        </div>
        <div class="row-fluid">
          <p class="text"> PokeApp is a web app allows you to have Pokemon battles online.</p>
          <p class="text"> PokeApp makes use of the Pokemon Showdown battle simulator. However, we're more than just a battle simulator because we keep track of your wins and losses, allowing you to see where you stand against other players.</p>
          <p class="text">In the future, we plan to develop an AI bot which you will be able to battle on the simulator!</p>
          <p class="text"> You can view our GitHub repository <a href="https://github.com/yzixuan/pokemonai" target="blank">here</a>.</p>
        </div>
  </div>  
</body>
</html>