<!doctype html>
<html class="no-js" lang="en">
<head>
	<meta charset="utf-8">
	<title> Pokemon AI </title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="../bootstrap/css/bootstrap.css" rel="stylesheet">
    <link href="../bootstrap/css/bootstrap-responsive.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="../stylesheets/main.css">
</head>	
<body>
    <div class="container-fluid">     
		<div class = "navbar">
			<div class = "tabbable">
			  <ul class = "nav nav-tabs">
					<li class="active"><a href="about.html"><img class="logo" src="../images/about.png"></a></li>
					<li><a href="play.html"><img class="logo" src="../images/play.png"></a></li>
					<li><a href="index.html"><img class="logo" src="../images/logo.png"></a></li>			
					<li><a href="war.html"><img class="logo" src="../images/war.png"></a></li>
					<li><a href="login.html"><img class="logo" src="../images/login.png"></a></li>
			  </ul>
			</div> 
		</div>
		<div class="row-fluid">
			<p class="text"> PokeApp is a web app allows you to have Pokemon battles online.</p>
			<p class="text"> PokeApp makes use of the Pokemon Showdown battle simulator. However, we're more than just a battle simulator because we keep track of your wins and losses, allowing you to see where you stand against other players.</p>
			<p class="text">In the future, we plan to develop an AI bot which you will be able to battle on the simulator!</p>
			<p class="text"> You can view our GitHub repository <a href="https://github.com/yzixuan/pokemonai" target="blank">here</a>.</p>
		</div>
    </div>
</body>
</html>

